<div style="background-color: rgb(247, 216, 37);">
    <div class="row">
        <div class="col-md-4">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
                <a href="">
                    <h1>Tiger Store</h1>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a routerLink="/cart" style="padding:10px;" class="button fancy-button">
                <i class="fas fa-shopping-cart">shopping cart</i>
                Checkout({{itemCount()}})
            </a>
        </div>
    </div>
</div>